$icomoon-font-path: "../fonts" !default;

$icon-cancel: "\e909";
$icon-close: "\e909";
$icon-rainy: "\e900";
$icon-weather: "\e900";
$icon-cloud: "\e900";
$icon-cloud2: "\e901";
$icon-weather4: "\e901";
$icon-cloudy: "\e902";
$icon-weather2: "\e902";
$icon-sun: "\e903";
$icon-weather3: "\e903";
$icon-arrow_drop_up: "\e904";
$icon-arrow_drop_down: "\e905";
$icon-heart-o: "\e906";
$icon-home3: "\e907";
$icon-plus: "\e908";
$icon-bubble2: "\e96e";
$icon-search: "\e986";
$icon-eye: "\e9ce";
$icon-circle-right: "\ea42";
$icon-circle-left: "\ea44";
$icon-google-plus: "\ea8b";
$icon-facebook: "\ea90";
$icon-twitter: "\ea96";
$icon-dribbble: "\eaa7";

