@import "_icon_variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?p4kt6y');
  src:  url('#{$icomoon-font-path}/icomoon.eot?p4kt6y#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?p4kt6y') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?p4kt6y') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?p4kt6y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel {
  &:before {
    content: $icon-cancel;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-rainy {
  &:before {
    content: $icon-rainy;
  }
}
.icon-weather {
  &:before {
    content: $icon-weather;
  }
}
.icon-cloud {
  &:before {
    content: $icon-cloud;
  }
}
.icon-cloud2 {
  &:before {
    content: $icon-cloud2;
  }
}
.icon-weather4 {
  &:before {
    content: $icon-weather4;
  }
}
.icon-cloudy {
  &:before {
    content: $icon-cloudy;
  }
}
.icon-weather2 {
  &:before {
    content: $icon-weather2;
  }
}
.icon-sun {
  &:before {
    content: $icon-sun;
  }
}
.icon-weather3 {
  &:before {
    content: $icon-weather3;
  }
}
.icon-arrow_drop_up {
  &:before {
    content: $icon-arrow_drop_up;
  }
}
.icon-arrow_drop_down {
  &:before {
    content: $icon-arrow_drop_down;
  }
}
.icon-heart-o {
  &:before {
    content: $icon-heart-o;
  }
}
.icon-home3 {
  &:before {
    content: $icon-home3;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-bubble2 {
  &:before {
    content: $icon-bubble2;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-eye {
  &:before {
    content: $icon-eye;
  }
}
.icon-circle-right {
  &:before {
    content: $icon-circle-right;
  }
}
.icon-circle-left {
  &:before {
    content: $icon-circle-left;
  }
}
.icon-google-plus {
  &:before {
    content: $icon-google-plus;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-dribbble {
  &:before {
    content: $icon-dribbble;
  }
}

